@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Header/Logo Title */

html *
{
   font-family: Overpass !important;
}


h1 {
  margin-top: 15px;
  margin-bottom: 10px;
}
h3 {
  margin-top: 1px;
  font-size: 20px;
  margin-bottom: 1;
}

h4 {
  margin-top: 1;
  margin-bottom: 3px;
}

h4new {
  margin-top: 0;
  margin-bottom: 3px;
}

p { margin-top: 5px; margin-bottom: 5px; font-size: 15px;}

.header {
  padding: 5px;
  text-align: left;
  /*background: #025f3c;*/
  color: black;
  font-size: 15px;
  font-family: 'Overpass';
}

.mainheader {
  padding: 18px;
  text-align: center;
  background: #E6F9E6;
  color: black;
  font-size: 22px;
}


.article {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Overpass';
}

.topnav {
  overflow: auto;
  background-color: #f2f8f2;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 900px; /* The length of the grey area*/ 
}

.topleft{
  width: 44%;
  height: auto;
  background-color: #white;
}

.left_left{
  width: 25%;
  border-radius: 12px;
}

.left {
    width: 25%;
    border-radius: 12px;
}

.right {
  width: 25%;
  border-radius: 12px;
}

.right_right {
    width: 25%;
    border-radius: 12px;
}

.topright{
  width: 53%;
  height: auto;
  background-color: #white;
}


.flextablerow {
  display: flex;
}


.flextablecolumn {
  flex: 40%; /*The width of each table column*/
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #3b6b45;
  border-left: none;
  border-right: none;
}

th, td {
  text-align: left;
  padding: 5px;
  /* border-bottom: 1px solid #ddd; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Collapse foldable sections*/
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 3px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #D4F2DC;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: whitesmoke;
  border-radius:5px;
  box-shadow: 2px 3px 3px lightgrey;
}

.button {
  position: relative;
  background-color: black;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
  float: center;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.button1 {
  padding: 15px;
  width: 350px;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color:whitesmoke; 
  display:inline-block;
  font-size: 88%;
  color: black; 
  padding: 10px;
  width: 130px;
  height: 30px;
  /* border: 2px solid #008CBA; */
  box-shadow: rgba(149, 157, 165, 0.2) 3px 5px 3px;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}


.button5 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 50%;
}


.float{
  position:fixed;
  width:45px;
  height:28px;
  bottom:30px;
  right:25px;
  background-color: whitesmoke;
  color:white;
  border-radius:8px;
  text-align:center;
  box-shadow: 3px 3px 3px #999;
  /* padding-left: 300px;
  padding-right: 300px; */
  /* text-align: center; */
  font-size: 20px;
  font-family: 'Overpass';
}

.my-float{
  margin-top:22px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: darkgreen;
  color: #fff;
  text-align: left;
  border-radius: 16px;
  padding: 5px 15px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-top: -100px;
  margin-left: -300px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.tooltip .tooltiptext_P {
  visibility: hidden;
  width: 500px;
  background-color: #869E8D;
  color: #fff;
  text-align: left;
  border-radius: 16px;
  padding: 10px 20px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext_P {
  visibility: visible;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#tables {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tables td, #tables th {
  border: 1px solid #ddd;
  padding: 8px;
  font-family: 'Overpass';
}

#tables tr:nth-child(even){background-color: #f2f2f2;  }
#tables tr:nth-child(odd){background-color: #f2f2f2; }

#tables tr:hover {background-color: #ddd;}

#tables th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #04AA6D;
  color: white;

}

#tables tr:first-child, td:first-child { font-weight: bold;}


.body {
  padding: 5px;
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  background:#fafafa; 
  color: black;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.mainbody {
  text-align: center;
  background: white; 
  color: black;
  font-size: 20px;
  display: block;
  font-family: 'Overpass';
}

P_back {
  border-radius: 6px;
  background-color: #85C1E9;
}

IC_back {
  border-radius: 5px;
  background-color:#F8C471;
}

O_back {
  border-radius: 5px;
  background-color: #F1948A ;
}

boldFont {
  font-weight: 900;
}

.modal-header {
  align-items: baseline;

  /*justify-content: space-between;
  display: flex;*/
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.modalclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalclose:hover,
.modalclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 20px;
  text-decoration: none;
  width: 20px;

  svg {
    width: 20px;
  }
}

#modal {
  opacity: 0;
  transition: $opacity-transition;
  visibility: hidden;

  &:target {
    opacity: 1;
    visibility: visible;

    .modal-body {
      opacity: 1;
      transform: translateY(1);
    }
  }

  .modal-body {
    max-width: 500px;
    opacity: 0;
    transform: translateY(-100px);
    transition: $opacity-transition;
    width: 100%;
    z-index: 1;
    font-family: 'Overpass';
  }
}

.outside-trigger {
  bottom: 0;
  cursor: default;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.button__link {
  text-decoration: none;
}

.container {
  /*The content of the inside card*/
  padding: 2px 10px;
}

/* The container */
.DSTtable {
  font-weight: bold;
  color:darkgreen;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #228B22;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.card {
  padding: 13px;
  background: #fff;
  max-width: 1200px;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 20px;
}

.highlight {
  font-weight: bold;
  color: #294;
}

.shadow1 { 
  box-shadow: 0 20px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.shadow2 { 
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 600px;
    perspective: 800px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    .styled-table {
  border-collapse: collapse;
  margin: 30px 40px 40px 40px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

details {
  user-select: none;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
  color: lightgray
}

summary::-webkit-details-marker {
  display: none;

}

#myInputP {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 5px 0.4px;
  background-repeat: no-repeat;
  width: 22%; /*Length of the placeholder*/
  font-size: 12px;
  padding: 3px 20px 3px 35px;
  border: 1px solid #ddd;
  margin-bottom: 2px;
  border-radius: 12px;
}


#myInputIC {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 5px 0.4px;
  background-repeat: no-repeat;
  width: 33.5%; /*Length of the placeholder*/
  font-size: 12px;
  padding: 3px 20px 3px 35px;
  border: 1px solid #ddd;
  margin-bottom: 2px;
  border-radius: 12px;
}


#myInputO {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 5px 0.4px;
  background-repeat: no-repeat;
  width: 22%; /*Length of the placeholder*/
  font-size: 12px;
  padding: 3px 20px 3px 35px;
  border: 1px solid #ddd;
  margin-bottom: 2px;
  border-radius: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  font-family: 'Overpass';
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#more {display: none;}
